<d-datatable [gridData]="gridData" [gridTitle]="'Country Data'">
  <d-column [label]="'Name'" [dataKey]="'countryName'"></d-column>
  <d-column [label]="'Code'" [dataKey]="'countryCode'"></d-column>
  <d-column [label]="'Code2'" [dataKey]="'countryCode2'"></d-column>
</d-datatable>



<!--<button (click)="getDetails()">getData</button>-->
<button (click)="addData()">add data</button>

<button (click)="addColumn()">add column</button>

<button (click)="addColumn1()">change Column Structure</button>
